<ng-container *ngIf="(appState$ | async ) as appState" [ngSwitch]="appState.dataState">
  <div class="ext-container" style="width: 100%; height: 70%">


    <div class="container" style="border-radius: 5px; border-color: #a300bf;padding-right: 100px; width: 100%">
      <ng-container *ngSwitchCase="DataState.LOADED_STATE">

        <div *ngFor="let location of appState?.appData?.data?.locations">

          <div *ngIf="location.locationType.toString()=='VERTICAL'; else horizontal">

            <div class="table-available-vertical"
                 cdkDrag
                 cdkDragBoundary=".container"
                 [cdkDragFreeDragPosition]="{x:location.pos_x, y:location.pos_y}"

                 (cdkDragEnded)=onDragEnded($event,location)
                 (cdkDragStarted)=handleDragStart($event)
                 (click)=handleClickAvailable($event) *ngIf="location.available; else notAvailable">
              <p>{{location.locationNumber}}</p>
            </div>
            <ng-template #notAvailable>
              <div class="table-not-available-vertical"
                   cdkDrag
                   cdkDragBoundary=".container"
                   [cdkDragFreeDragPosition]="{x:location.pos_x, y:location.pos_y}"
                   (cdkDragEnded)=onDragEnded($event,location)
                   (cdkDragStarted)=handleDragStart($event)
                   (click)=handleClick($event,location)>
                {{location.locationNumber}}

                <div *ngIf="showHover" style="
                width: max-content;
                background:  linear-gradient(30deg, #686ee3 1%, #3931af 40%, lightskyblue 90%);
                color: whitesmoke;
                margin-left: 35px;
                position: unset;
                margin-top: -42px;
                border-radius: 5px;">
                  <p style=" width: max-content">{{location.employee.lastName}} {{location.employee.firstName}}</p>
                </div>
              </div>
            </ng-template>
          </div>
          <!----template for horizontal tables-->
          <ng-template #horizontal>
            <div class="table-available-horizontal"
                 cdkDrag
                 cdkDragBoundary=".container"
                 [cdkDragFreeDragPosition]="{x:location.pos_x, y:location.pos_y}"
                 (cdkDragEnded)=onDragEnded($event,location)
                 (cdkDragStarted)=handleDragStart($event)
                 (click)=handleClickAvailable($event) *ngIf="location.available; else notAvailable">
              <p>{{location.locationNumber}}</p>
            </div>
            <ng-template #notAvailable>
              <div class="table-not-available-horizontal"
                   cdkDrag
                   cdkDragBoundary=".container"
                   [cdkDragFreeDragPosition]="{x:location.pos_x, y:location.pos_y}"
                   (cdkDragEnded)=onDragEnded($event,location)
                   (cdkDragStarted)=handleDragStart($event)
                   (click)=handleClick($event,location)>
                {{location.locationNumber}}

                <div *ngIf="showHover" style="
                width: max-content;
                background:  linear-gradient(30deg, #686ee3 1%, #3931af 40%, lightskyblue 90%);
                color: whitesmoke;
                margin-left: 35px;
                position: unset;
                margin-top: -42px;
                border-radius: 5px;">
                  <p style=" width: max-content">{{location.employee.lastName}} {{location.employee.firstName}}</p>
                </div>
              </div>
            </ng-template>
          </ng-template>

        </div>

      </ng-container>
    </div>
  </div>
  <ng-container>
    <!--    <div style="height: 300px">-->
    <!--    </div>-->
  </ng-container>

</ng-container>

<!--HOVER***-->
<!--<div class="table-not-available-horizontal"-->
<!--     cdkDrag-->
<!--     cdkDragBoundary=".container"-->
<!--     (mouseover)="showHover=true"-->
<!--     (mouseout)="showHover=false"-->
<!--     [cdkDragFreeDragPosition]="{x:location.pos_x, y:location.pos_y}"-->
<!--     (cdkDragEnded)=onDragEnded($event,location)-->
<!--     (cdkDragStarted)=handleDragStart($event)-->
<!--     (click)=handleClick($event,location)>-->
<!--  {{location.locationNumber}}-->

<!--  <div *ngIf="showHover" style="-->
<!--                width: max-content;-->
<!--                background:  linear-gradient(30deg, #686ee3 1%, #3931af 40%, lightskyblue 90%);-->
<!--                color: whitesmoke;-->
<!--                margin-left: 35px;-->
<!--                position: unset;-->
<!--                margin-top: -42px;-->
<!--                border-radius: 5px;">-->
<!--    <p style=" width: max-content">{{location.employee.lastName}} {{location.employee.firstName}}</p>-->
<!--  </div>-->
<!--</div>-->
<!--HOVER***-->


