<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="ext-container" style="color: #cccccc;padding-top: 55px; padding-bottom: 100px; ">
  <div class="container" style="
                          height: border-box;
                          background: linear-gradient(30deg, rgb(3,3,114) 1%, rgba(2,3,28,0) 20%, #090241 99%)">
      <div class="row" style="padding: 5%">
        <div class="col-md-6 how-img">
          <!--                            <img src="../../assets/images/home_isd_layout.jpg"  style="height: 100%; width: 100%" alt=""/>-->
          <iframe width="110%" height="100%"
                  src="https://www.youtube.com/embed/1PIB11ko9tE"
                  title="ISD Office"
                  frameborder="02"
                  style="margin-left: -12%"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
          <h1><b>Welcome to the ISD office!</b></h1>
          <h3 class="subheading">Get to know our wonderful modern and comfortable office.
            Our office is located in the city center and has a huge
            space for each of our employees to work and relax comfortably.
            An entire floor is provided for our hardworking employees. And at the same time, several equipped recreation
            areas have been allocated so that at any time each of us can break away from current tasks and have a good rest.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="padding: 15px">
          <h1><b>Let's find out who and where sits?</b></h1>
          <h3 class="subheading">You probably had situations when in the office,
            especially when you are new to the company, how to find one or another colleague?
            Or you are a member of the administrative department and you need to find a free workplace for
            a new employee. And when there are several dozen workplaces in the office, why keep all this
            information in your head?
            We present you a layout. Just click on any red table and you will
            find out who is working at this table. Just find any green table and you will understand that it is free.
            Simply and easily!</h3>
        </div>
        <div class="col-md-6 how-img">
          <img src="../../assets/images/static-office.jpg" style="height: 100%; width: 100%; padding: 10px" alt=""  (click)="goToPage('layout')"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 how-img">
          <img src="../../assets/images/employees-home.jpg" style="height: 100%; width: 100%; padding: 20px" alt=""  (click)="goToPage('employees')"/>
        </div>
        <div class="col-md-6">
          <h1><b>Know everyone by sight!</b></h1>
          <h3 class="subheading">Staffapp allows you to display the cards of each employee. At the same time, it provides
            detailed information on each of them, you just have to click!
            And you will not only see all the information about your colleague, but at the same time you will find out
            what office equipment the company provided to him. And more than that, you can also find out everything about yourself.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h1><b>Let's keep count!</b></h1>
          <h3 class="subheading">The application allows you to group all office equipment into groups.
            It is easy to create a new group and bind new equipment to it.
            It is easy and simple to find out how many chairs and laptops, printers and keyboards,
            headphones and telephones are in the office ...
            And also who owns which item. See a real photo of each item and assign the corresponding barcode
            to each item. Be aware of everything!</h3>
        </div>
        <div class="col-md-6 how-img">
          <img src="../../assets/images/items-home.jpg" style="height: 100%; width: 100%; padding: 20px" alt=""  (click)="goToPage('item-types')"/>
        </div>
      </div>
  </div>
</div>
