<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar><h2>ADMIN MENU</h2></mat-toolbar>
    <mat-nav-list>
      <div id="sidebar">
        <mat-nav-list role="list">
          <a mat-list-item role="listitem" routerLink="/home" routerLinkActive="active">
            <mat-icon matListIcon>home</mat-icon>
            STAFFAPP</a>
          <a mat-list-item role="listitem" routerLink="/admin/dashboard" routerLinkActive="active">
            <mat-icon matListIcon>dashboard</mat-icon>
            Dashboard</a>
          <a mat-list-item role="listitem" routerLink="/admin/departments" routerLinkActive="active">
            <mat-icon matListIcon>account_balance</mat-icon>
            Departments</a>
          <a mat-list-item role="listitem" routerLink="/admin/items" routerLinkActive="active">
            <mat-icon matListIcon>devices</mat-icon>
            Items</a>
          <a mat-list-item role="listitem" routerLink="/admin/employees" routerLinkActive="active">
            <mat-icon matListIcon>person_add</mat-icon>
            Employees</a>
          <a mat-list-item role="listitem" routerLink="/admin/item-types" routerLinkActive="active">
            <mat-icon matListIcon>event_seat</mat-icon>
            Item types</a>
          <a mat-list-item role="listitem" routerLink="/admin/locations" routerLinkActive="active">
            <mat-icon matListIcon>person_pin_circle</mat-icon>
            Locations</a>
          <a mat-list-item role="listitem" routerLink="/admin/users" routerLinkActive="active">
            <mat-icon matListIcon>person</mat-icon>
            Users</a>
        </mat-nav-list>
      </div>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>

    <ng-container *ngIf="(appState$ | async ) as appState" [ngSwitch]="appState.dataState">

      <ng-container *ngSwitchCase="DataState.LOADING_STATE">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="DataState.LOADED_STATE">

        <button mat-icon-button matTooltip="Click to create new" class="table-button"
                (click)="addEmployee()" color="warn">ADD NEW EMPLOYEE
          <mat-icon>person</mat-icon>
        </button>

        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>


        <!--        <table mat-table class="mat-elevation-z8" *ngFor="let itemType of appState?.appData?.data?.itemTypes;">-->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef> ID.</th>
            <td mat-cell *matCellDef="let employee"> {{employee.id}} </td>
          </ng-container>

          <ng-container matColumnDef="LAST NAME">
            <th mat-header-cell *matHeaderCellDef> LAST NAME</th>
            <td mat-cell *matCellDef="let employee"> {{employee.lastName}} </td>
          </ng-container>

          <ng-container matColumnDef="FIRST NAME">
            <th mat-header-cell *matHeaderCellDef>FIRST NAME</th>
            <td mat-cell *matCellDef="let employee"> {{employee.firstName}} </td>
          </ng-container>

          <ng-container matColumnDef="COMPANY">
            <th mat-header-cell *matHeaderCellDef> COMPANY</th>
            <td mat-cell *matCellDef="let employee"> {{employee.company.companyName}} </td>
          </ng-container>

          <ng-container matColumnDef="DEPARTMENT">
            <th mat-header-cell *matHeaderCellDef> DEPARTMENT</th>
            <td mat-cell *matCellDef="let employee"> {{employee.department.departmentName}} </td>
          </ng-container>

          <ng-container matColumnDef="EMAIL">
            <th mat-header-cell *matHeaderCellDef> EMAIL</th>
            <td mat-cell *matCellDef="let employee"> {{employee.email}} </td>
          </ng-container>

          <ng-container matColumnDef="BIRTHDAY">
            <th mat-header-cell *matHeaderCellDef>BIRTHDAY</th>
            <td mat-cell *matCellDef="let employee"> {{employee.birthday}} </td>
          </ng-container>

          <ng-container matColumnDef="LOCATION">
            <th mat-header-cell *matHeaderCellDef>LOCATION</th>
            <td mat-cell *matCellDef="let employee"> {{employee.location?.locationNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="IMAGE">
            <th mat-header-cell *matHeaderCellDef>IMAGE</th>
            <td mat-cell *matCellDef="let employee"> {{employee.image}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="EDIT">
            <th mat-header-cell *matHeaderCellDef> EDIT</th>
            <td mat-cell *matCellDef="let employee">
              <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                      color="primary" (click)="edit(employee)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="DELETE">
            <th mat-header-cell *matHeaderCellDef> DELETE</th>
            <td mat-cell *matCellDef="let employee">
              <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
                      (click)="delete(employee)" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
            >
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


      </ng-container>

      <ng-container *ngSwitchCase="DataState.ERROR_STATE">
        <div class="spinner-border text-danger" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-container>

    </ng-container>

  </mat-sidenav-content>


</mat-sidenav-container>
