<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div id="sidebar">
        <mat-nav-list role="list">
          <a mat-list-item role="listitem" routerLink="/admin/dashboard" routerLinkActive="active">
            <mat-icon matListIcon>dashboard</mat-icon>
            Dashboard</a>
          <a mat-list-item role="listitem" routerLink="/admin/add-new-content" routerLinkActive="active" >
            <mat-icon matListIcon>add_box</mat-icon>
            Add new content</a>
          <a mat-list-item role="listitem" routerLink="/admin/items" routerLinkActive="active">
            <mat-icon matListIcon>devices</mat-icon>
            All items</a>
          <a mat-list-item role="listitem" routerLink="/admin/employees" routerLinkActive="active">
            <mat-icon matListIcon>person_add</mat-icon>
            All employees</a>
          <a mat-list-item role="listitem" routerLink="/admin/item-types" routerLinkActive="active" >
            <mat-icon matListIcon>event_seat</mat-icon>
            All item types</a>
          <a mat-list-item role="listitem" routerLink="/admin/locations" routerLinkActive="active" >
            <mat-icon matListIcon>person_pin_circle</mat-icon>
            All locations</a>
          <a mat-list-item role="listitem" routerLink="/admin/users" routerLinkActive="active">
            <mat-icon matListIcon>person</mat-icon>
            Users</a>
        </mat-nav-list>
      </div>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <app-add-employee class="app-add-employee" [hidden]="!addNewEmployee" (submitted)="closeComp()"></app-add-employee>

<div class="card" [ngClass]="addNewEmployee ? 'cont' : ''">
  <div class="">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (onClick)="enableAddProductComp()"></p-button>
    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" (onClick)="loadEmployees()"></p-button>
  </div>

  <p-table [value]="employees!" [paginator]="true" [rows]="15" [totalRecords]="employees!.length" [showCurrentPageReport]="true" responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Category</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employees>
      <tr>
        <td>{{employees.lastName}}</td>
        <td>{{employees.firstName}}</td>
        <td>{{employees.department.departmentName}}</td>
        <td>{{employees.email}}</td>
        <td>{{employees.location.locationNumber}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>


  </mat-sidenav-content>


</mat-sidenav-container>
