.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: linear-gradient(to bottom, #ffffff 0%, #d8d8d8 100%);
}

.mat-drawer {
  background: linear-gradient(to top, cornflowerblue 0%, #d8d8d8 100%);

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

ul.bookmarks {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left; /* change to "center" or "right" to align differently */
  border-bottom: 10px solid green; /* bottom border */
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%, #d8d8d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d8d8d8', GradientType=0);
}

.cont {
  opacity: 20%;
}

/* Structure */
table {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background: linear-gradient(to top, cornflowerblue 0%, #FFFFFF 5%);


}


.mat-form-field {
  font-size: 25px;
  font-weight: bold;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

}

.mat-input-element {
  color: #babbc4;
}

.iconbutton {
  padding-top: 10px;
}

.table-button {
  width: 20%;
  border: #a300bf;
  border-radius: 5px;
  background: silver;
  margin-left: 2%;
}

.mat-paginator {
  background: linear-gradient(to top, cornflowerblue 0%, #FFFFFF 100%);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

}

.mat-header-row {
  background-color: silver;
  font-weight: bold;
  font-size: x-large;
}

.ext-container {
  height: 100%;
  background-image: linear-gradient(30deg, #a300bf 1%, #3931af 40%, lightskyblue 90%)

}


.table-button {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background: linear-gradient(to top, cornflowerblue 0%, #FFFFFF 100%);
  border-radius: 5px;
  margin-top: 5%;



}

