<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div id="sidebar">
        <mat-nav-list role="list">
          <a mat-list-item role="listitem" routerLink="/admin/dashboard" routerLinkActive="active">
            <mat-icon matListIcon>dashboard</mat-icon>
            Dashboard</a>
          <a mat-list-item role="listitem" routerLink="/admin/add-new-content" routerLinkActive="active" >
            <mat-icon matListIcon>add_box</mat-icon>
            Add new content</a>
          <a mat-list-item role="listitem" routerLink="/admin/items" routerLinkActive="active">
            <mat-icon matListIcon>devices</mat-icon>
            All items</a>
          <a mat-list-item role="listitem" routerLink="/admin/employees" routerLinkActive="active">
            <mat-icon matListIcon>person_add</mat-icon>
            All employees</a>
          <a mat-list-item role="listitem" routerLink="/admin/item-types" routerLinkActive="active" >
            <mat-icon matListIcon>event_seat</mat-icon>
            All item types</a>
          <a mat-list-item role="listitem" routerLink="/admin/locations" routerLinkActive="active" >
            <mat-icon matListIcon>person_pin_circle</mat-icon>
            All locations</a>
          <a mat-list-item role="listitem" routerLink="/admin/users" routerLinkActive="active">
            <mat-icon matListIcon>person</mat-icon>
            Users</a>
        </mat-nav-list>
      </div>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>



  </mat-sidenav-content>


</mat-sidenav-container>
