<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"
      xmlns="http://www.w3.org/1999/html">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<ng-container *ngIf="(appState$ | async ) as appState" [ngSwitch]="appState.dataState">
  <ng-container *ngSwitchCase="DataState.LOADING_STATE">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="DataState.LOADED_STATE">
    <div class="container-2"
         style="padding-top: 25px; padding-bottom: 100px; background: linear-gradient(30deg,#3931af 35%,#3931af 65%,lightskyblue 90%)">
      <div class="container" style="padding-top: 25px; padding-bottom: 100px; background: rgba(5,26,91,0.73)">
        <div class="row">
        </div>
        <div class="row mt-4">
          <div class="col-lg-4 text-center border-right border-secondery">
            <div class="tab-content row h-100 d-flex justify-content-center align-items-center" id="myTabContent">
              <div class="tab-pane fade show active col-lg-12" id="home" role="tabpanel" aria-labelledby="home-tab" style="vertical-align: top; margin-top: -100px" >
                <img class="img-fluid" src="{{item?.image}}" style="vertical-align: top; position: relative"/>
              </div>
<!--              <div style='text-align: center;width: 100%; vertical-align: bottom'>-->
<!--                &lt;!&ndash; insert your custom barcode setting your data in the GET parameter "data" &ndash;&gt;-->
<!--                <img alt='Barcode Generator TEC-IT'-->
<!--                     src='https://barcode.tec-it.com/barcode.ashx?data={{item?.barcode}}&code=EAN8' width="80%" height="125px"/>-->
<!--              </div>-->
            </div>
          </div>
          <div class="col-lg-7" style="color: #cccccc">
            <h1><b>{{item?.itemName}}</b></h1>
            <hr/>
            <h3>Barcode: <b>{{item?.barcode}}</b></h3>
            <hr/>
            <h3>Owner: <b>  {{item?.employee?.lastName + ' ' + item?.employee?.firstName}} </b></h3>
            <hr/>
            <h3>Department: <b>{{item?.employee?.department?.departmentName}}</b></h3>
            <hr/>
            <h3>Type: <b>{{item?.itemType?.typeName}}</b></h3>
            <hr/>
            <h3>Description: <b>{{item?.description}}</b></h3>
            <hr/>
            <h3>Manufactured at: <b>{{item?.manufacturedAt}}</b></h3>
            <hr/>
            <h3>Enabled: <b>{{item?.enabled}}</b></h3>
            <hr/>
            <div style='text-align: center ;'>
              <!-- insert your custom barcode setting your data in the GET parameter "data" -->
              <img alt='Barcode Generator TEC-IT'
                   src='https://barcode.tec-it.com/barcode.ashx?data={{item?.barcode}}&code=EAN8'/>
            </div>
            <hr/>
          </div>
        </div>
      </div>
    </div>

  </ng-container>
  <ng-container *ngSwitchCase="DataState.ERROR_STATE">
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-container>
</ng-container>

