<div class="mat-dialog-container" style="width: 100%; background: cornflowerblue">
  <div class="d-flex justify-content-between m-3">
    <h4>Edit employee</h4>

    <button mat-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>

  </div>

  <div style="overflow: auto; height: 100%; width: auto;">
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

      <div class="mt-4 input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 150px">Employee ID</span>
        </div>
        <input readonly="readonly"
               type="text"
               class="form-control"
               name="id"
               #id="ngModel"
               [(ngModel)]="employeesService.formData!.id">
      </div>


      <!--/***************************Field Type Name **************************/-->
      <div class="mt-4 input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 150px">Last Name</span>
        </div>
        <input required minlength="3"
               type="text"
               class="form-control"
               name="lastName"
               #lastName="ngModel"
               [(ngModel)]="employeesService.formData!.lastName">
      </div>
      <div class="text-left text-danger"
           *ngIf="lastName.invalid && lastName.touched">
        Please enter the Last Name
      </div>
      <!--/***************************Field Description **************************/-->
      <div class="mt-4 input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 150px">First  Name</span>
        </div>
        <input required minlength="3"
               type="text"
               class="form-control"
               name="firstName"
               #firstName="ngModel"
               [(ngModel)]="employeesService.formData!.firstName">
      </div>
      <div class="text-left text-danger"
           *ngIf="firstName.invalid && firstName.touched">
        Please enter the Last Name
      </div>
      <!--/***************************Field Description **************************/-->
      <div class="mt-4 input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 150px">Email</span>
        </div>
        <input required minlength="3"
               type="text"
               class="form-control"
               name="email"
               #email="ngModel"
               [(ngModel)]="employeesService.formData!.email">
      </div>
      <div class="text-left text-danger"
           *ngIf="email.invalid && email.touched">
        Please enter email
      </div>
      <!--/***************************Field Enabled **************************/-->
      <div class="mt-4 input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 150px">Birthday</span>
        </div>
        <input required minlength="3"
               type="date"
               class="form-control"
               name="birthday"
               #birthday="ngModel"
               [(ngModel)]="employeesService.formData!.birthday">
      </div>
      <div class="text-left text-danger"
           *ngIf="birthday.invalid && birthday.touched">
        Please enter birthday
      </div>

      <!--/***************************Field Description **************************/-->
      <div class="mt-4 input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 150px">Image URL</span>
        </div>
        <input type="text"
               class="form-control"
               name="image"
               #image="ngModel"
               [(ngModel)]="employeesService.formData!.image">
      </div>

      <!--/***************************Field Description **************************/-->

      <div class="mt-4  input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 150px">Company</span>
        </div>
        <select class="form-control"
                name="company"
                #company="ngModel"
                [(ngModel)]="employeesService.formData!.company">
          <option *ngFor="let cl of companiesList" [ngValue]="cl">
            {{cl.companyName}}
          </option>
        </select>
      </div>
      <div class="text-left text-danger"
           *ngIf="company.invalid && company.touched">
        Please enter company
      </div>

      <!--/***************************Field Description **************************/-->
      <div class="mt-4 input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 150px">Department</span>
        </div>
        <select class="form-control"
                name="department"
                #department="ngModel"
                [(ngModel)]="employeesService.formData!.department">
          <option *ngFor="let dl of departmentsList" [ngValue]="dl">
            {{dl.departmentName}}
          </option>
        </select>
      </div>
      <div class="text-left text-danger"
           *ngIf="department.invalid && department.touched">
        Please enter department
      </div>

      <!--/***************************Field Description **************************/-->
      <div class="mt-4 input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 150px">Location</span>
        </div>
        <select class="form-control"
                name="location"
                #location="ngModel"
                [(ngModel)]="employeesService.formData!.location">
          <option *ngFor="let ll of locationsList" [ngValue]="ll">
            {{ll.locationNumber}}
          </option>
        </select>
      </div>
      <!--/***************************Field Enabled **************************/-->
      <div class="mt-4 input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 150px">Enabled</span>
        </div>
        <input required minlength="3"
               type="checkbox"
               class="form-control"
               name="enabled"
               #enabled="ngModel"
               [(ngModel)]="employeesService.formData!.enabled">
      </div>

      <button class="mt-4"
              mat-raised-button color="primary"
              (click)="onUpload()"
              type="submit">Update employee
      </button>

    </form>
  </div>

</div>
