.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: silver;
}
.mat-drawer{
  background: silver;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
ul.bookmarks {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left; /* change to "center" or "right" to align differently */
    border-bottom: 10px solid green; /* bottom border */
    background: #ffffff;
    background: linear-gradient(to bottom,  #ffffff 0%,#d8d8d8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8d8',GradientType=0 );
}
.cont {
    opacity: 20%;
}

/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.iconbutton{
  padding-top: 10px;
}
.table-button{
  width: 20%;
  border: #a300bf;
  border-radius: 5px;
  background: silver;
  margin-left: 2%;

}
