<div class="mat-dialog-container" style="width: 100%; background: cornflowerblue">
  <div class="d-flex justify-content-between">
    <h4>Add new item</h4>

    <button mat-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>

  </div>

  <div style="overflow: auto; height: 100%; width: 400px;">
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">


      <!--/***************************Field Type Name **************************/-->
      <div class="mt-4 input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 150px">Item Name</span>
        </div>
        <input required minlength="3"
               type="text"
               class="form-control"
               name="itemName"
               #itemName="ngModel"
               [(ngModel)]="itemService.formData!.itemName">
      </div>
      <div class="text-left text-danger"
           *ngIf="itemName.invalid && itemName.touched">
        Please enter Item Name
      </div>
      <!--/***************************Field Description **************************/-->
      <div class="mt-4  input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 150px">Item type</span>
        </div>
        <select class="form-control"
                name="itemType"
                #itemType="ngModel"
                [(ngModel)]="itemService.formData!.itemType">
          <option *ngFor="let cl of typesList" [ngValue]="cl">
            {{cl.typeName}}
          </option>
        </select>
      </div>
      <div class="text-left text-danger"
           *ngIf="itemType.invalid && itemType.touched">
        Please select the Type
      </div>
      <!--/***************************Field Description **************************/-->
      <div class="mt-4  input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 150px">Barcode</span>
        </div>
        <input required minlength="8"
               type="text"
               class="form-control"
               name="barcode"
               #barcode="ngModel"
               [(ngModel)]="itemService.formData!.barcode">
      </div>
      <div class="text-left text-danger"
           *ngIf="barcode.invalid && barcode.touched">
        Please enter barcode
      </div>
      <!--/***************************Field Description **************************/-->
      <div class="mt-4  input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 150px">Description</span>
        </div>
        <input required minlength="8"
               type="text"
               class="form-control"
               name="description"
               #description="ngModel"
               [(ngModel)]="itemService.formData!.description">
      </div>
      <div class="text-left text-danger"
           *ngIf="description.invalid && description.touched">
        Please enter description
      </div>
      <!--/***************************Field Description **************************/-->
      <div class="mt-4  input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 150px">Image URL</span>
        </div>
        <input required minlength="8"
               type="text"
               class="form-control"
               name="image"
               #image="ngModel"
               [(ngModel)]="itemService.formData!.image">
      </div>
      <!--/***************************Field Enabled **************************/-->
      <div class="mt-4 input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 150px">Manufactured at</span>
        </div>
        <input required minlength="3"
               type="date"
               class="form-control"
               name="manufacturedAt"
               #manufacturedAt="ngModel"
               [(ngModel)]="itemService.formData!.manufacturedAt">
      </div>
      <div class="text-left text-danger"
           *ngIf="manufacturedAt.invalid && manufacturedAt.touched">
        Please enter manufactured date
      </div>

      <!--/***************************Field Description **************************/-->

      <div class="mt-4  input-group" >
        <div class="input-group-prepend" >
          <span class="input-group-text" style="width: 150px">Employee</span>
        </div>
        <select class="form-control"
                name="employee"
                #company="ngModel"
                [(ngModel)]="itemService.formData!.employee">
          <option *ngFor="let cl of employeesList" [ngValue]="cl">
            {{cl.lastName}}  {{cl.firstName}}
          </option>
        </select>
      </div>




      <button class="mt-4"
              mat-raised-button color="primary"
              type="submit"
      >Add item
        <!--              [disabled]="form.invalid">Add employee-->
      </button>

    </form>
  </div>

</div>
