<header>
  <nav class="navbar navbar-expand-md navbar navbar-dark">
    <a class="navbar-brand" href="/home">Staffapp</a>

    <ul class="navbar-nav" style="color: whitesmoke;font-size: large">
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/home" class="nav-link">Home</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/layout" class="nav-link">Layout</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/employees" class="nav-link">Employees</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/item-types" class="nav-link">Items</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/reports" class="nav-link">Reports</a></li>
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link" style="margin-block: 3%; padding-left: 900%; font-size: medium;" >Logout</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link
      " style="margin-block: 3%; padding-left: 900%; font-size: medium;font-style: normal; color: #a300bf" >{{user}}</a></li>
    </ul>
  </nav>

</header>
