<header>
  <nav class="navbar navbar-expand-md navbar navbar-dark">
     <a class="navbar-brand" href="/home">Staffapp</a>

    <ul class="navbar-nav">
      <li><a routerLink="/home" class="nav-link">Home</a></li>
      <li><a routerLink="/layout" class="nav-link">Layout</a></li>
      <li><a routerLink="/employees" class="nav-link">Employees</a></li>
      <li><a routerLink="/items" class="nav-link">Items</a></li>
      <li><a routerLink="/reports" class="nav-link">Reports</a></li>
      <li><a routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </nav>

</header>
