<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<ng-container *ngIf="(appState$ | async ) as appState" [ngSwitch]="appState.dataState">
  <ng-container *ngSwitchCase="DataState.LOADING_STATE">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="DataState.LOADED_STATE">
    <section class="our-webcoderskull padding-lg">
      <div class="container">
<!--        <div class="row heading heading-icon">-->
<!--          <h2>Our Team</h2>-->
<!--        </div>-->
        <ul class="row" >
          <li class="col-12 col-md-6 col-lg-3" *ngFor="let employee of appState?.appData?.data?.employees; let i = index">
            <div class="cnt-block equal-hight" >
              <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive"  alt="Employee picture" (click)="getEmployeePage(employee.id)"></figure>
              <h6><a href="http://www.webcoderskull.com/">{{employee.lastName}} {{employee.firstName}}</a></h6>
              <p>{{employee.department.departmentName}}</p>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
<!--                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </ng-container>

  <ng-container *ngSwitchCase="DataState.ERROR_STATE">
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-container>

</ng-container>
