.row.heading h2 {
  color: #fff;
  font-size: 52.52px;
  line-height: 95px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.img-responsive {
  height: 100px;
  width: 100px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.heading.heading-icon {
  display: block;
}

.padding-lg {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.practice-area.padding-lg {
  padding-bottom: 55px;
  padding-top: 55px;
}

.practice-area .inner {
  border: 1px solid #999999;
  text-align: center;
  margin-bottom: 28px;
  padding: 40px 25px;
}

.our-webcoderskull .cnt-block:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: 0;
}

.practice-area .inner h3 {
  color: #3c3c3c;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  padding: 10px 0;
}

.practice-area .inner p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.practice-area .inner img {
  display: inline-block;
}

.cnt-block equal-hight {
  height: 170px;
  width: 238px;
  background-color: lightblue;
  padding: 1px
}

.col-12 col-md-6 col-lg-3 {
  max-width: 20%;
}

.col-lg-3 {
  max-width: 20%;
}

.our-webcoderskull {
  /*background: url("https://image.shutterstock.com/z/stock-photo-desk-office-with-laptop-blank-notepad-coffee-cup-and-pen-on-wood-table-flat-lay-top-view-copy-1689463411.jpg") no-repeat center top / cover;*/
  /*background: url("https://design-interio.ru/upload/iblock/aca/aca0078d582200d1aa3ccb4ff375dcf3.jpg") no-repeat center top / cover;*/
  /*background: url("../../assets/images/isd-office.heic") no-repeat center center / cover;*/
  background-color: navy;
  background-image:  linear-gradient(30deg,#a300bf 35%,#3931af 65%,lightskyblue 90%)
}

.our-webcoderskull .cnt-block {
  float: left;
  width: 80%;
  background: #fff;
  padding: 30px 20px;
  text-align: center;
  border: 2px solid #d5d5d5;
  margin: 0 0 28px;
  height: 90%;
}

.our-webcoderskull .cnt-block figure {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: inline-block;
  margin-bottom: 15px;
}

.our-webcoderskull .cnt-block img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.our-webcoderskull .cnt-block h3 {
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-transform: uppercase;
}

.our-webcoderskull .cnt-block h3 a {
  text-decoration: none;
  color: #2a2a2a;
}

.our-webcoderskull .cnt-block h3 a:hover {
  color: #337ab7;
}

.our-webcoderskull .cnt-block p {
  color: #2a2a2a;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.our-webcoderskull .cnt-block .follow-us {
  margin: 20px 0 0;
}

.our-webcoderskull .cnt-block .follow-us li {
  display: inline-block;
  width: auto;
  margin: 0 5px;
}

.our-webcoderskull .cnt-block .follow-us li .fa {
  font-size: 24px;
  color: #767676;
}

.our-webcoderskull .cnt-block .follow-us li .fa:hover {
  color: #025a8e;
}
