body {
    font-family: 'Roboto';
  font-size: 40px;
}
.bg-voilet {background-color : navy !important;}
.text-voilet {color : #a300bf !important;}
.bg-1 {
 /*background-image: url("https://images.pexels.com/photos/693776/pexels-photo-693776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");*/

 background-color: #a300bf;
}
.d-flex {
  background-color: navy; height: auto;
    background-image:  linear-gradient(40deg,navy 65%,lightskyblue 90%);
}
.footer{
  background-color: navy; height: auto;
    background-image:  linear-gradient(40deg,navy 71%,lightskyblue 90%);
}
.git{
   background-color: navy; height: auto;
    background-image:  linear-gradient(40deg,navy 81%,lightskyblue 90%);
}
