<!-- Footer -->
<footer
  class="text-center text-lg-start text-white"
  style="background-color: navy;
      background-image:  linear-gradient(40deg,navy 69%,lightskyblue 90%);
        height: 30%;"


>
  <section
    class="d-flex justify-content-between p-4">
  </section>

  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="footer">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h3 class="text-uppercase fw-bold">Staffapp SRL</h3>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: whitesmoke; height: 2px"
          />
          <p>
            Staffapp is an extensive outsourcing provider that is committed
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h3 class="text-uppercase fw-bold">Products</h3>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: whitesmoke; height: 2px"
          />
          <p>
            <a href="#!" class="text-white">Office Layout</a>
          </p>
          <p>
            <a href="#!" class="text-white">Accounting</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h3 class="text-uppercase fw-bold">Contact</h3>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: whitesmoke; height: 2px"
          />
          <p><i class="fas fa-home mr-3"></i> <a
            href="https://www.google.com/maps/place/Inther+Software+Development/@47.016681,28.8370143,17z/data=!4m5!3m4!1s0x40c97c2169d23a6f:0x8c9cf6c999802fef!8m2!3d47.0160295!4d28.8376871">Str.
            Bulgară 33/1, Chisinau MD-2001, Moldova</a></p>

          <p><i class="fas fa-envelope mr-3"></i> <a href="mailto:info@isd-soft.com">info@isd-soft.com</a></p>
          <p><i class="fas fa-phone mr-3"></i> + 373 69 499203</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div
    class="git text-center p-3"
  >
    © 2022 Copyright:
    <a class="text-white" href="https://github.com/cannaveaceslav/staffapp"
    >cannaveaceslav</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


<
