<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"
      xmlns="http://www.w3.org/1999/html">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<ng-container *ngIf="(appState$ | async ) as appState" [ngSwitch]="appState.dataState">
  <ng-container *ngIf="(appState2$ | async ) as appState" [ngSwitch]="appState.dataState">
    <ng-container *ngSwitchCase="DataState.LOADING_STATE">
      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="DataState.LOADED_STATE">
      <div class="ext-container" style="color: #cccccc;padding-top: 25px; padding-bottom: 100px">
        <div class="container" style=" height: border-box; background: linear-gradient(30deg, rgba(232,232,238,0.29) 1%, rgba(2,3,28,0.29) 20%, #090241 99%)">
          <div class="container2" style="text-align: center"><h2>Employee`s staff</h2></div>
          <div class="row" >
<!--            <div class="col" style="text-align: center; text-align-all: end; vertical-align: center; height: 30px"><h1>Employee`s items</h1></div>-->
            <div class="col" style="text-align: center; text-align-all: end; vertical-align: center; height: auto">
            <section class="our-webcoderskull padding-lg">
              <div class="container3" style="height: max-content">
                <ul class="row border-right border-seconder" >
                  <li class="col-12 col-md-6 col-lg-3 " *ngFor="let item of items; let i = index">
                    <div class="cnt-block equal-height" style="height: 100px; justify-content: center" (click)="getItemPage(item.id)">
                      <figure style="margin: -27px"><img src="{{item.image}}"
                                                         class="img-responsive"
                                                         alt="item  picture"
                                                         (click)="getItemPage(item.id) "></figure>
                    </div>

                  </li>
                </ul>
              </div>
            </section>
            </div>
            <div class="col" style="margin-top: 1px">
              <div><img class="img-fluid" src="{{employee?.image}}"/></div>
              <hr/>
              <div></div>
                <!------------------------------------>
              <div style="text-align: left">
                <h1>{{employee?.lastName}}  {{employee?.firstName}}</h1>
              </div>
              <hr/>
              <div style="text-align: left">
                <h4></h4>
              </div>

              <div style="text-align: left">
                <h4>Company:  <b> {{employee?.company?.companyName}}</b></h4>
              </div>
              <hr/>
              <div style="text-align: left">
                <h4>Department:  <b> {{employee?.department?.departmentName}}</b></h4>
              </div>
              <hr/>

              <div style="text-align: left">
                <h4>Email: <b>  {{employee?.email}}</b></h4>
              </div>
              <hr/>

              <div style="text-align: left">
                <h4>Birthday: <b>  {{employee?.birthday}}</b></h4>
              </div>
              <hr/>

<!--              <div style="text-align: left">-->
<!--                <h4>Location: <b> {{employee?.location}}</b></h4>-->
<!--              </div>-->
<!--              <hr/>-->

              <div style="text-align: left">
                <h4>Employed: <b> {{employee?.enabled}}</b></h4>
              </div>


              <!--------------------------------------->
            </div>
            <div class="w-100"></div>
            <!----------------------col 3-->
<!--            <div class="col" style="height: 20px"></div>-->

<!--            <div class="col" >-->
<!--              <div style="text-align: left">-->
<!--                <h1>{{employee?.lastName}}  {{employee?.firstName}}</h1>-->
<!--              </div>-->
<!--              <hr/>-->
<!--              <div style="text-align: left">-->
<!--                <h4></h4>-->
<!--              </div>-->

<!--              <div style="text-align: left">-->
<!--                <h4>Company:  <b> {{employee?.company?.companyName}}</b></h4>-->
<!--              </div>-->
<!--              <hr/>-->
<!--              <div style="text-align: left">-->
<!--                <h4>Department:  <b> {{employee?.department?.departmentName}}</b></h4>-->
<!--              </div>-->
<!--              <hr/>-->

<!--              <div style="text-align: left">-->
<!--                <h4>Email: <b>  {{employee?.email}}</b></h4>-->
<!--              </div>-->
<!--              <hr/>-->

<!--              <div style="text-align: left">-->
<!--                <h4>Birthday: <b>  {{employee?.birthday}}</b></h4>-->
<!--              </div>-->
<!--              <hr/>-->

<!--              <div style="text-align: left">-->
<!--                <h4>Location: <b> {{employee?.location?.locationType}}</b></h4>-->
<!--              </div>-->
<!--              <hr/>-->

<!--              <div style="text-align: left">-->
<!--                <h4>Enabled: <b> {{employee?.enabled}}</b></h4>-->
<!--              </div>-->



<!--            </div>-->
          </div>
        </div>
      </div>

    </ng-container>
    <ng-container *ngSwitchCase="DataState.ERROR_STATE">
      <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
